* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
    display: flex;
}

#player-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: 0px 2px 2px gray;
}

#info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    width: 400px;
}

#nametag {
    margin-left: 32px;
    margin-right: auto;
    font-size: 24px;
}

#score-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 32px;
    background-color: rgb(40, 145, 255);
}

#score-circle p {
    font-size: 24px;
    color: white;
}

#buttons {
    display: flex;
    gap: 64px;
}

#buttons button {
    padding: 4px;
    border: 2px solid rgba(0, 0, 0, 85%);
    border-radius: 4px;
}

.chosen {
    background-color: rgb(40, 145, 255);
}

.cpu-chosen {
    background-color: rgb(255, 40, 40);
}

.btn-icon {
    height: auto;
    width: 64px;
}